h1 {
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
  }
  h2{
    font-weight: bold;
    color:black;
    font-size:22px;
    text-align: center;
  }
  .form{
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
   
  .page-footer{
   background-color: rosybrown; 
   width: 100%;
 }
 .container{
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .paraghraph{
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 200;
   color: deeppink;
 }